body {
    margin: 0;
}

#flexGrid {
    width: 100%;
    min-height: 700px;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    margin: 0 0;
}

/* Navigation Bar bzw. Top Menu ---------------------------------------------------------------- */

#navBarContainer {
    margin-top: 0;
    flex: 0 0 3cm;
    display: flex;
    justify-content: space-around;
    border: black 1px solid;
}

.navEntry {
    flex: 1 6;
    display: block;
    text-align: center;
    border: black 1px solid;
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(228, 228, 227, 0.479);
}

.navEntry.selected {
    background-color: rgba(9, 1, 114, 0.822);
    color: white;
}

.navEntry:hover {
    background-color: rgba(13, 1, 177, 0.822);
    color: white;
}

.reiterLogos {
    display: block;
    height: 2cm;
    width: auto;
    margin: 0 auto;
}

/* Beinhaltet den Main Bereich und die SideBar */

#mainRow {
    display: flex;
    flex: 6 1;
}

/* Side Bar bzw. Unter Menü ---------------------------------------------------------- */

#sideBarContainer {
    background-color: rgb(255, 255, 255);
    flex: 25%;
    border-right: black 1px solid;
}

.sideEntry {
    background-color: rgba(228, 228, 227, 0.479);
}

.sideEntry>h3 {
    background-color: rgba(228, 228, 227, 0.479);
    margin: 0 auto;
    border-bottom: rgb(34, 34, 34) 1px solid;
    cursor: pointer;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: large;
}

.sideEntry>h3:hover {
    background-color: rgba(13, 1, 177, 0.822);
    color: white;
}

.sideEntry a:link, a:visited {
    text-decoration: none;
    color: black;
}

.sideEntry .selected {
    background-color: rgba(9, 1, 114, 0.822);
    color: white;
}

.sideEntry .selected a {
    color: white;
}

.sideEntry h3:hover a:link{
    color: white;
}

.sideEntry a {    
    padding: 20px;
}

.sideEntry a:hover {
    text-decoration: none;
    color: white;
}
.sideEntry>ul {
    margin: 0;
    list-style: none;
    padding-left: 0;
    font-family: 'Roboto', sans-serif;
}

/* Untermenü */
.sideEntry>ul>li {
    padding: 4px 40px;
    cursor: pointer;
    background-color: rgba(68, 57, 216, 0.377);
    border-bottom: 1px solid rgb(34, 34, 34);
    font-family: 'Roboto', sans-serif;
}

.sideEntry>ul>li:hover {
    background-color: rgba(14, 7, 117, 0.616);
    color: white;
}

.sideEntry li.selected {
    background-color:  rgba(61, 51, 201, 0.753);
}

#mainContainer {
    background-color: rgb(255, 255, 255);
    flex:  75%;
}

.sideEntry>h3 a {
    display: block;
    margin: 0 auto;
}

/* Gruppenseite ---------------------------------------------------------------------------- */

/* Tabelle */

#mainContainer>table {
    table-layout: fixed;
    display: block;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

#mainContainer th {
    
    text-align: center;
    border: 1px solid #ddd;
    background-color: rgb(206, 206, 206);
    padding: 8px;
    width: 10%;
    font-family: 'Roboto', sans-serif;
}

#mainContainer td {
    font-family: 'Roboto', sans-serif;
}

#mainContainer a:link, a:visited {
    text-decoration: none;
    color: black;
}

#mainContainer a:hover {
    text-decoration: none;
    color: black;
}

#mainContainer .Name {
    width: 50%;
}

#mainContainer ul,li,h1,h2,h3,h4,p,textarea {
    font-family: 'Roboto', sans-serif;
}

.klassenLogos {
    display: block;
    height: 0.8cm;
    width: auto;
    margin: 0 auto;
}

.hovertabelle:hover {

    background-color: rgba(68, 57, 216, 0.377);
}

/* Fehlende Einträge -------------*/

.missing {
    border: 1px solid rgb(245, 22, 22);
}

#ToDo{
    background-color: rgba(9, 1, 114, 0.822);
    color: white;
    height: 30px;
}

#ToDo:hover {
    background-color: rgba(13, 1, 177, 0.822);
    color: white;
    height: 30px;
}

#ToDo2 {
    color: black;
    height: 30px;
}

#einladen{
    background-color: rgba(9, 1, 114, 0.822);
    color: white;
    height: 30px;
}

#einladen:hover {
    background-color: rgba(13, 1, 177, 0.822);
    color: white;
    height: 30px;
}

#weiter{
    background-color: rgba(9, 1, 114, 0.822);
    color: white;
    height: 30px;
}

#weiter:hover {
    background-color: rgba(13, 1, 177, 0.822);
    color: white;
    height: 30px;
}

#ex{
    background-color: rgba(9, 1, 114, 0.822);
    color: white;
    height: 30px;
}

#ex:hover {
    background-color: rgba(13, 1, 177, 0.822);
    color: white;
    height: 30px;
}

#send{
    background-color: rgba(9, 1, 114, 0.822);
    color: white;
    height: 30px;
}

#send:hover {
    background-color: rgba(13, 1, 177, 0.822);
    color: white;
    height: 30px;
}