 /* Style inputs */
#title{
    text-align: center;
    margin-top: 2cm;
    margin-bottom: 1.5cm;
    font-size: 35pt;
}

#loginAuswahl {
  display: flex;
  flex-direction: row;
}

h2 {
    flex: auto;
    text-align: center;
    background-color: rgba(228, 228, 227, 0.479);
    padding: 8px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

h2.selected {
    background-color: rgba(9, 1, 114, 0.822);
    color: white;
    border-radius: 4px;
    cursor: default;
}

#logIn {
    width: 33%;
    margin: 0 auto;
    padding: 0.5cm;
    border: 2px solid #ccc;
    vertical-align: center;
}

 input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 0.5cm;
  }

  input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 0.5cm;
  }
  
  /* Style the submit button */
  button {
        display: block;
        text-align: center;
        width: 100%;
        background-color:rgba(9, 1, 114, 0.822);
        color: white;
        padding: 14px 0px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;            
  }
  
  /* Add a background color to the submit button on mouse-over */
  button:hover {
    background-color:rgba(13, 1, 177, 0.822);
  } 