
#mainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    font-family: 'Kanit', sans-serif;
  }

.calendar-base {
    width: 100%;
    height: 100%;
    background-color: white;
    color: black;
  }

  .triangle{
    display: flex;
    justify-content: center;
    align-items: center;
  }

.year {
    color: #E8E8E8;
    font-size: 50px;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
}  

.triangle-left {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 15px 10px 0;
  border-color: transparent  #E8E8E8 transparent transparent;
  
  }
  
  .triangle-right {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0px 10px 15px;
    border-color: transparent transparent  transparent #E8E8E8;
       
  }

  .triangle-left:hover{
    border-right: 10px solid#2ECC71;
  }
  .triangle-right:hover{
    border-left: 10px solid#2ECC71;
  }

  .month-color {
    color: #27AE60;
  }
  .month-hover:hover{
    color:#27e879 !important;
  }
  
  .months {
    color: #AAAAAA;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-size: 35px;
  }
  
  .month-line {
    border-color: #E8E8E8;
    width: 95%;
    
  }
  
  .days {
    color: #AAAAAA;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    font-weight: 600;
    font-size: 40px;
    
  } 

  .num-dates {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 60vh;
    z-index: 1;
    font-size: 40px;
    
    
    
  }
  
  .first-week, .second-week, .third-week, .fourth-week, .fifth-week, .sixth-week   {
    display:flex; 
    justify-content: space-evenly;
    width: 100%;
  }
  
  /*
  .active-day {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #2ECC71;
    position: relative;
    top: 275px;
    left: 663px;
  }
  
  .event-indicator {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
    position: relative;
    top: 285px;
    left: 880px;
  }

  
  
  .two {
    position: relative;
    top: 190px;
    left: 720px;
    background-color: blue;
  }

  
  
  .grey {
    color: #AAAAB1;
  }

  */

  .filter{
      display: flex;
      flex-direction: row;
      margin: 5px;
      justify-content: space-around;
  }

  .aktueller-tag{
    margin: 20px;
    width: 50%;
    border-radius: 20px;
    border: 3px solid #00b300;
    
    
  }

  .num-date {
    font-size: 150px;
    width: 100%;
    
    font-weight: 700;
    text-align: center;
    
    
  }
  
  .day {
    width: 100%;
    margin: 0px;
    font-size: 30px;
    text-align: center;
    
  }

  .datumzahl {
    
    width: 70px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.dropbtn {
  color: black;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}


.Veranstaltungen {
  padding: 10px;
}

.Lernen {
  
  padding: 5px;
  margin-top: 5px;
  border: 3px solid red;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}

.Freizeit {
  border: 3px solid blue;
  padding: 5px;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.Abgabe {
  border: 3px solid yellow;
  padding: 5px;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.Sonstiges {
  border: 3px solid pink;
  padding: 5px;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#terminerstellen {
  display: none;
  padding: 4px 40px;
}
  

.sideEntry>h3 {
  display: flex;
  height: 5vh;
  align-items: center;
  padding: 4px 20px;
}
