body{
    font-family: 'Roboto', sans-serif;
}

.sideEntryactive {
    color: white;
    background-color: rgba(9, 1, 114, 0.822);
}


.bild {
    border: 1px solid black;
}

.allgemein {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 20%;
}

.textarea {
	caret-color: red;  
	width: 60em;
	height: 15em;
	border: 1px solid #cccccc;
	padding: 0.5em;
}    

textarea:focus {
    background: #FFC;
}

.speichern{
    display: flex;
    justify-content: center;


}

.hallo{
    display: flex;
    margin: .5vw;
}

.abc{
    background-color: lightblue;
    margin: 0.5vw;
    border: 3px solid #1C6EA4;
    font-size: 20px;
    cursor: pointer;
}

.abc :hover{
    color: black;
}


#anschauen {
    width: 60%;
    padding: 1cm;
}

/*
.anschauen, .bearbeiten{
    display:flex;
    flex-direction: row;
    padding: 20px;
}



.links, .linksbearbeiten {
    padding: 5px;
    display: flex;
    flex-direction: column;
    width: 40%;
    
}

.rechts, .rechtsbearbeiten {
    padding: 5px 50px;
    width: 60%;
    display: flex;
    flex-direction: column;
}



